.cim{
    font-weight: bold;
    cursor: pointer;
}

.cim:hover{
    text-decoration: underline;
    color: #fff;
}
.text_h1{
    margin-top: 30px;
    text-align: center;
    font-size: 20px;
}

.text_hazigazda{
    margin-top: 10px;
    text-align: center;
    font-size: 20px;

}
.text{
    text-align: center;
    font-size: 20px;
    margin-bottom: 20px;
}

.aranyom{
    display: block;
    margin: 20px auto 50px auto ;
    border: 1.5px solid #fff;
    width: 400px;
    height: auto;
    border-radius: 10px;
    margin-bottom: 100px;
  }

  .helyszindoboz{
    margin: 0 auto 0 auto;
  }

  @media only screen and (max-width: 767px) { 
    .helyszindoboz{
       width: 400px;
    }
}
