html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    background: rgb(121,79,9);
    background: linear-gradient(0deg, rgba(255,209,143,1) 14%,rgba(121,79,9,1) 100% );
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.aranyom{
  display: block;
  margin: 20px auto 0 auto ;
  border: 1.5px solid #fff;
  width: 500px;
  height: auto;
  border-radius: 10px;
}

.datum{
  text-align: center;
  padding-bottom: 100px;
}
.aranyom2{
  display: block;
  border: 2px solid rgba(0, 0, 0, 0.093);
  width: 400px;
  height: auto;
  border-radius: 10px;
  margin-bottom: 80px;
}



@media only screen and (max-width: 767px) { 
 .aranyom {
  width: 400px;
}}